{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<h3>{{title}}</h3>
<form method='post'>
    <div class="mb-3">
        <label for="course_name" class="form-label">Course Name</label>
        <input type="text" class="form-control" id="course_name" name="course_name" required value="{{ course.name }}">
    </div>
    <div class="mb-3">
        <label for="pet_type" class="form-label">Pet Type</label>
        <select class="form-select" aria-label="Default select example" id="pet_type" name="pet_type" value="{{ course.pet }}">
            <option {% if course.pet == "Hamsters" %} selected {% endif %} value="Hamsters">Hamster</option>
            <option {% if course.pet == "Ferrets" %} selected {% endif %} value="Ferrets">Ferret</option>
            <option {% if course.pet == "Dogs" %} selected {% endif %} value="Dogs">Dog</option>
            <option {% if course.pet == "Cats" %} selected {% endif %} value="Cats">Cat</option>
            <option {% if course.pet == "Parrots" %} selected {% endif %} value="Parrots">Parrot</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="start_date" class="form-label">Start Date</label>
        <input type="date" class="form-control" id="start_date" name="start_date" required value="{{ course.start_date }}">
    </div>
    <div class="mb-3">
        <label for="start_time" class="form-label">Start Time</label>
        <input type="time" class="form-control" id="start_time" name="start_time" required value="{{ course.start_time }}">
    </div>
    <div class="mb-3">
        <label for="duration" class="form-label">Duration</label>
        <select class="form-select" aria-label="Default select example" id="duration" name="duration" value="{{ course.duration }}">
            <option value="45 Minutes" {% if course.duration == "45 Minutes" %} selected {% endif %}>45 Minutes</option>
            <option value="60 Minutes" {% if course.duration == "60 Minutes" %} selected {% endif %}>60 Minutes</option>
            <option value="90 Minutes" {% if course.duration == "90 Minutes" %} selected {% endif %}>90 Minutes</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="length" class="form-label">Length</label>
        <select class="form-select" aria-label="Default select example" id="length" name="length" value="{{ course.length }}">
            <option value="4 Weeks" {% if course.length == "4 Weeks" %} selected {% endif %}>4 Weeks</option>
            <option value="6 Weeks" {% if course.length == "6 Weeks" %} selected {% endif %}>6 Weeks</option>
            <option value="8 Weeks" {% if course.length == "8 Weeks" %} selected {% endif %}>8 Weeks</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="level" class="form-label">Level</label>
        <select class="form-select" aria-label="Default select example" id="level" name="level" value="{{ course.level }}">
            <option value="Beginner" {% if course.level == "Beginner" %} selected {% endif %}>Beginner</option>
            <option value="Intermediate" {% if course.level == "Intermediate" %} selected {% endif %}>Intermediate</option>
            <option value="Advanced" {% if course.level == "Advanced" %} selected {% endif %}>Advanced</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="trainer" class="form-label">Trainer</label>
        <input type="text" class="form-control" id="trainer" name="trainer" required value="{{ course.trainer }}">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea rows="5" class="form-control" id="description" name="description">{{ course.description }}</textarea>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-primary me-md-2" type="submit">Save</button>
        <button class="btn btn-secondary me-md-2" type="reset">Reset</button>
    </div>
</form>
{% endblock %}