{% extends 'base.html' %}
{% block title %} Courses {% endblock %}
{% block content %}
<h3>{{course.name}}</h3>
<ul class="list-group">
    <li class="list-group-item"><span class="fw-bold course-label">Pet Type:</span><span>{{course.pet}}</span></li>
    <li class="list-group-item"><span class="fw-bold course-label">Start Date:</span><span>{{course.start_date}}</span></li>
    <li class="list-group-item"><span class="fw-bold course-label">Length:</span><span>{{course.length}}</span></li>
    <li class="list-group-item"><span class="fw-bold course-label">Course Level:</span><span>{{course.level}}</span></li>
    <li class="list-group-item"><span class="fw-bold course-label">Start Time:</span><span>{{course.start_time}}</span></li>
    <li class="list-group-item"><span class="fw-bold course-label">Duration:</span><span>{{course.duration}}</span></li>
    <li class="list-group-item"><span class="fw-bold course-label">Trainer:</span><span>{{course.trainer}}</span></li>
    <li class="list-group-item"><span class="fw-bold course-label">Description:</span><span>{{course.description}}</span></li>
</ul>
{% endblock %}