{% extends 'base.html' %}
{% block title %} Courses {% endblock %}
{% block content %}
<h3>Happy Buddy Pet Training Courses</h3>
<div class="col-md-12">
    <form method='post'>
        <input type="text" placeholder="Search by Pet Type" name="pet">
    </form>
</div>
<br>
<table class="table table-striped">
    <thead class="table-head">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Pet Type</th>
          <th scope="col">Start Date &nbsp;<a href="{{ url_for('courses', sort='start_date') }}"><i class="sort-icons bi bi-arrow-down-up"></i></a></th>
          <th scope="col">Length</th>
          <th scope="col">Time &nbsp;<a href="{{ url_for('courses', sort='start_time') }}"><i class="sort-icons bi bi-arrow-down-up"></i></a></th>
        </tr>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>
                    <a href="{{ url_for('course', course_id=course.id) }}" class="link-primary">{{ course.name }}</a>
                </td>
                <td>{{ course.pet }}</td>
                <td>{{ course.start_date }}</td>
                <td>{{ course.length }}</td>
                <td>{{ course.start_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a href="{{ url_for('add_course') }}" class="btn btn-primary me-md-2" role="button" aria-disabled="true">Create a class!</a>
</div>
{% endblock %}